<section class="d-flex justify-content-center align-items-center flex-column mx-auto col-8" style="height: 100vh">
  <h2 class="bold my-5">User List</h2>
  <mdb-tabs [pills]="true" class="w-100" (activeTabChange)="listUsersFiltered($event)">
    <mdb-tab title="All">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User Code</th>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Second Lastname</th>
            <th scope="col">Role</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="userList.length > 0">
            <ng-container *ngFor="let user of userList; let i = index">
              <tr>
                <th scope="row">{{i + 1}}</th>
                <td>{{user?.user_code}}</td>
                <td>{{user?.name}}</td>
                <td>{{user?.father_last_name}}</td>
                <td>{{user?.mother_last_name}}</td>
                <td>{{user?.role?.value}}</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </mdb-tab>
    <mdb-tab title="Attendant">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código de Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Rol</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="userList.length > 0">
            <ng-container *ngFor="let user of userList; let i = index">
              <tr>
                <th scope="row">{{i + 1}}</th>
                <td>{{user?.user_code}}</td>
                <td>{{user?.name}}</td>
                <td>{{user?.father_last_name}}</td>
                <td>{{user?.mother_last_name}}</td>
                <td>{{user?.role?.value}}</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </mdb-tab>
    <mdb-tab title="Seller">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código de Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Rol</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="userList.length > 0">
            <ng-container *ngFor="let user of userList; let i = index">
              <tr>
                <th scope="row">{{i + 1}}</th>
                <td>{{user?.user_code}}</td>
                <td>{{user?.name}}</td>
                <td>{{user?.father_last_name}}</td>
                <td>{{user?.mother_last_name}}</td>
                <td>{{user?.role?.value}}</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </mdb-tab>
    <mdb-tab title="Admin">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código de Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Rol</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="userList.length > 0">
            <ng-container *ngFor="let user of userList; let i = index">
              <tr>
                <th scope="row">{{i + 1}}</th>
                <td>{{user?.user_code}}</td>
                <td>{{user?.name}}</td>
                <td>{{user?.father_last_name}}</td>
                <td>{{user?.mother_last_name}}</td>
                <td>{{user?.role?.value}}</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </mdb-tab>
  </mdb-tabs>

  <ng-container *ngIf="userList.length === 0">
    <h4>No users available.</h4>
  </ng-container>
</section>
