@use 'variables';
@use "sass:map";

@function breakpoint-min($name, $breakpoints: variables.$grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min !=0, $min, null);
}
@function breakpoint-max($name, $breakpoints: variables.$grid-breakpoints) {
  $max: map-get($breakpoints, $name);
  @return if($max !=0, $max - 1px, null);
}
// Example @include media-breakpoint-up(sm)
@mixin media-breakpoint-up($name, $breakpoints: variables.$grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name, $breakpoints: variables.$grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);

  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}
