@use 'variables';
@import 'media';

:root {
  @each $txt, $val in variables.$font-sizes-mb {
    --font-size-#{$txt}: #{$val};
  }
  @each $txt, $val in variables.$colors {
    --#{$txt}: #{$val};
  }
  --ratio-16-9: 56%;
  --ratio-1-1: 100%;
  --ratio-4-3: 75%;
  --z-depth-1: 0px 2px 4px rgba(145, 159, 179, 0.07),
    0px 3px 4px rgba(145, 159, 179, 0.06), 0px 1px 5px rgba(145, 159, 179, 0.1);
  --z-depth-2: 0px 2px 4px rgba(145, 159, 179, 0.07),
    0px 4px 5px rgba(145, 159, 179, 0.06), 0px 1px 10px rgba(145, 159, 179, 0.1);
  --z-depth-3: 0px 4px 28px 3px #00000020;
  --font-family-2: 'Fredoka', sans-serif;
  --font-family-1: 'Inter', sans-serif;
}

@include media-breakpoint-up(lg) {
  :root {
    @each $txt, $val in variables.$font-sizes-lg {
      --font-size-#{$txt}: #{$val};
    }
  }
}

@include media-breakpoint-up(xl) {
  :root {
    @each $txt, $val in variables.$font-sizes {
      --font-size-#{$txt}: #{$val};
    }
  }
}
